{% extends 'users/base.html' %}
{% block content-wrapper %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>User Manual</h3>
        </div>
        <div class="panel-body">
            <p> · Welcome to this app ,login if you have a previously registered<br>

                · If not , register your self to access it<br>

                · Your registration will be saved<br>

                · Login with the required details<br>

                · Profile is set up for you , this profile helps for self analyzation<br>

                · You can modify your profile, mandatory should be given<br>

                · You can take up the test which contains certain questions<br>

                · The answers for these questions will be auto saved ,you can come out the test in the middle<br>

                · Your scores will be displayed in the statistical way<br>

                · Depending on the score u decide the required psychiatrist do you want consult<br>

                · Maintain the profile with the regular time period to know about emotion state<br>

            </p>
        </div>
    </div>
{% endblock %}