{% extends 'users/base.html' %}
{% block content-wrapper %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>User Manual</h3>
        </div>
        <div class="panel-body">
            <p> · Welcome to this app ,login if u have a previously registered

                · If not , register your self to access it

                · Ur registration will be saved

                · Login with the required details

                · Profile is set up for u , this profile helps for self analyzation

                · U can modify your profile, mandatory should be given

                · U can take up the test which contains certain questions

                · The answers for these questions will be auto saved ,u can come out the test in the middle

                · Your scores will be displayed in the statistical way

                · Depending on the score u decide the required psychatrist do u want consult

                · Maintain the profile with the regular time period to know about emotion state


                0 New
            </p>
        </div>
    </div>
{% endblock %}