{% extends 'users/base.html' %}
{% block content-wrapper %}
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <center>
            <form action="" method="post" class="">
                {% csrf_token %}

                    <label for="otp">OTP</label><input class="form-control" type="number" id="otp"
                                                       name="otp">
                <br>
                <br>
                <input type="submit" class="btn btn-primary">
            </form>
        </center>
    </div>
{% endblock %}